version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13
        environment:
          GO111MODULE: "on"
          MSSQL_PASSWORD: ezbuy@ezbuyIsTheBest2019
          MSSQL_USER: sa
          MSSQL_DATABASE: test
          MSSQL_HOST: localhost
      - image: mcr.microsoft.com/mssql/server
        environment:
          ACCEPT_EULA: Y
          SA_PASSWORD: ezbuy@ezbuyIsTheBest2019
      - image: circleci/mongo:latest
      - image: circleci/mysql:5.7
    branch:
    working_directory: /go/src/github.com/ezbuy/ezorm
    steps:
      - checkout
      - run:
          name: go get
          command: |
           go get -u github.com/ezbuy/ezorm
      - run:
          name: gen tpl
          command: |
           go get -u github.com/jteeuwen/go-bindata/go-bindata@master
           make buildTpl
      - run: go install
      - run: make clean
      - run:
         name: mssql
         command: |
           ezorm gen -i ./example/mssql_people/people_mssql.yaml -o ./example/mssql_people -p people --goPackage test
           go test -v ./example/mssql_people/...
      - run:
         name: mongo
         command: |
           ezorm gen -i ./example/blog/blog.yaml -o example/blog -p blog --goPackage test
           go test -v ./example/blog/...
      - run:
          name: mysql
          command: |
            ezorm gen -i ./example/mysql_people/people.yaml -o ./example/mysql_people -p people --goPackage test
            go test -v ./example/mysql_people/...
            ezorm gen -i ./example/mysql_user/user.yaml -o ./example/mysql_user/ -p user --goPackage test
            go test -v ./examples/mysql_user/...
      - run:
          name: test-db
          command: |
            go test -v ./db/mysql_test.go ./db/mysql.go

